<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="vote.example.offlinevote">
    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17" />
    <application android:theme="@style/AppTheme" android:label="@string/app_name" android:icon="@drawable/votes" android:debuggable="true" android:allowBackup="true">
        <activity android:label="@string/app_name" android:name="vote.example.offlinevote.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="@string/title_activity_admin" android:name="vote.example.offlinevote.Admin" />
        <activity android:label="@string/title_activity_vote" android:name="vote.example.offlinevote.Vote" />
        <activity android:label="@string/title_activity_end" android:name="vote.example.offlinevote.End" />
        <activity android:label="@string/title_activity_count" android:name="vote.example.offlinevote.Count" />
        <activity android:label="@string/title_activity_resetuser" android:name="vote.example.offlinevote.Resetuser" />
        <activity android:label="@string/title_activity_adduser" android:name="vote.example.offlinevote.Adduser" />
        <activity android:label="@string/title_activity_party" android:name="vote.example.offlinevote.Party" />
        <activity android:label="@string/title_activity_input" android:name="vote.example.offlinevote.Input" />
        <activity android:label="@string/title_activity_elector" android:name="vote.example.offlinevote.Elector" />
        <activity android:label="@string/title_activity_setting" android:name="vote.example.offlinevote.Setting" />
        <activity android:label="@string/title_activity_reset_password" android:name="vote.example.offlinevote.ResetPassword" />
        <activity android:label="@string/title_activity_signup" android:name="vote.example.offlinevote.Signup" />
    </application>
</manifest>
